 
.discount {
    margin: 20px;
    width: 65px;
    height: 30px;
    background:#FFF;
    text-align:center;
    box-shadow: 1px 1px 3px rgba(0,0,0,.25);
    position:relative;
    color:#017EB7;
    float:left;
  }
  .percent {
    font-size:1.7em;
    font-family: 'Poiret One', cursive;
  }
  ion-card{
    border-radius: 3%;
  }